*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

/* grid */ 
body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside main main"
    "footer footer footer";
}

/* header */
header {
    grid-area: header;
    /* background-color: aquamarine; */
    padding: 1.5rem;
    
}

h1 {
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

/* main */ /* Mobile first approach */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form section {
    width: 100%;
    margin: 1rem;
}

form section label {
    display: block;
    margin-bottom: 0.5rem;
}

form section input,
form section textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

/* aside */
aside{
    grid-area: aside;
    width: clamp(200px, 20%, 400px);
    background-color: bisque;

}

/* nav */
nav{
    grid-area: nav;
}


/* footer */

footer{
    grid-area: footer;
    background-color: #f2f2f2;
}


.oneLine{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}